<div class="grainBG">
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <h1>Learn Craps Yo</h1>
                <h3>The best way to learn Craps</h3>
                <br>
                <a href="https://geo.itunes.apple.com/us/app/learn-craps-yo/id943996740?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                <br>
                <br>
            </div><!-- /row -->
        </div> <!-- /container -->

        <!-- Three Craps Images -->
        <div class="container">
            <div class="row centered">
                <div class="col-md-4">
                    <img src="{{ "/assets/img/headlineImages/passLineBetActualImage.png" | prepend: site.baseurl }}" class="img-responsive">
                    <br>
                </div>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/headlineImages/passLineGameImage.png" | prepend: site.baseurl }}" class="img-responsive">
                    <br>
                </div>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/headlineImages/passLineMoreInfoImage.png" | prepend: site.baseurl }}" class="img-responsive">
                    <br>
                </div>		 				
            </div>		 				
        </div><! --/container -->
    </div><!-- /headerwrap -->
</div>
