/*!
 * Learn Craps Yo Custom CSS
 * Copyright 2016 Mike P Land
 * All rights reserved
*/

.grainBG {
    background-image: url("/assets/img/dark_grain3.png")
}

.portfolioAdjusted {
    margin-top: 15px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
